.header {
    display: flex;
    position: fixed;
    width: 500px;
    max-width: 98%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    background: white;
    border: 2px dotted gray;
    align-items: center;
    z-index: 20;

    &__title {
        flex: 1;
        font-size: 3rem;
    }

    &__controls {
        height: 100%;
        display: flex;
    }

    &__add {
        width: 50px;
        cursor: pointer;
    }

    &__remove {
        width: 50px;
        cursor: pointer;

        &--hidden {
            visibility: hidden;
        }
    }
}
